<a href="https://colab.research.google.com/github/hmanoj26/7316/blob/main/Learning_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning Python 1

This is part of a series of tutorials that will teach basic to complex python using the python core library. Later tutorials will teach data visualization and analysis.
***

The tutorial your are completing is delivered as a [Jupyter](https://jupyter.org) Notebook. Jupyter runs on top of an installation of Python. Each time you enter something into one of the boxes below, you are entering Python code. Each time you push the **Run** button above, you tell Python to run the code you have entered into the box. The result of running your code is dispalyed directly below the box where you entered your code.

Instructions for creating your own Python environment and writing stand-alone code will be provided at the end of the tutorial series .

## I. Python as a calculator

Python can be used as a simple calculator. Use the box below to enter simple math calculations. For example,

**1\. Enter**
```Python
5 + 5
```
then press the "Run" button above. (Always click the run button to process the code you write in a cell.) Try addition, subtraction, multiplication and division...but keep it simple for now.

In [3]:
5+5+57-26

41

OK, let's make things a bit more challenging.

**2\. Enter and examine the following equation:**

```Python
25 + 5 * 5
```

In [4]:
25 + 5 * 5

50

Whoops! I thought the answer would be 150. Why isn't it? Because of the order of operations, of course.

**3\. How would I use parenthesis to get an answer of 150? Enter your answer below.**

In [5]:
(25+5)*5

150

Everything works with real numbers, too.

**4\. Enter:**
```Python
5.2 * 4
```

In [7]:
5.2*4

20.8

#### Unique mathematical operators

* Division-related operators

Python has a few unique math operators and we'll look at a few: **'/'**, **'//'** and **'%'**.

**5\. First, enter **
```Python
10 / 3
```

In [10]:
10/3

3.3333333333333335

OK. That makes sense--that is what we expected.

**6\. Now enter**
```Python
10 // 3
```

In [9]:
10 // 3

3

That's interesting. You may think that it rounds the answer, but you'd be wrong. '//' is the integer division operator. Any remainder is simply ignored.

**7\. Can you guess what the answer will be for the following? Will it be 1 or 2? Give it a try.**
```Python
12 // 7
```

In [13]:
12 // 7

1

That is correct: it's 1. The answer is not rounded to the nearest integer--the remainder is simply ignored. Which brings us to the modulus operator: '%'. '%' returns the remainder of a division.

**8\. Enter:**
```Python
12 % 7
```

In [14]:
12 % 7

5

### Trying something new!!

In [18]:
10 % 2

0

7 goes into 12 once and there is a remainder of 5. It works!

* Power-operator

The ****** operator will raise a number to a power.

**9\. How many unique values can an 8-bit number binary (base 2) number hold? Enter:**
```Python
2 ** 8
```

In [15]:
2 ** 8

256

**10\. How about a 16-bit integer?**

In [22]:
2 ** 16

65536

#### Variables

To finish the Python as a calculator section, we'll learn about variables and variable assignment.

As an example: a = 1. 'a' is a variable and the value '1' is assigned to 'a' using the equals (=) sign.

Any string of characters can be used to identify a variable. Numbers can be used in the string, but the variable must always start with a text character. For example, f4 is a valid variable name. 4f is not and will cause an error.

**11\. In the box below, create a variable named '_num_' and assign it a value of 5.**

In [23]:
num = 5

If you type the variable name at the Python prompt it will display the variable's value.

**12\. In the box below enter:**
```Python
num
```

In [24]:
num

5

**13\. Now, add 10 to num.**

In [36]:
num %= 10
num

5

That's right! You can do any of the math we previously covered with variables. That's pretty cool and actually gets us a ways down the road to writing more complex code that does really useful things.

## 2. Strings

From numbers we move on to text...formally known as strings.

**14\. Enter:**
```Python
'Hi, how are you?'
```
**(The quotes are essential here--enter them, too.)**

In [37]:
'Hi, how are you?'

'Hi, how are you?'

Python prints your string. We'll get more interesting soon, but first a few basic items. The string 'Hi, how are you?' is equivalent to "Hi, how are you?" (using double quotes). What if you wanted to write: 'I'm well.'? Do you notice anything that might cause trouble with that string? It has an apostrophe in the string and it looks like an end quote. Well, there are two ways around this problem: (1) escaping characters or (2) mixing single and double quotes.

**15\. Enter and run**
```Python
'I\'m not bad.'
```

In [38]:
'I\'m not bad.'

"I'm not bad."

It works! Placing a backslash (\\) prior to the ' (apostrophe) tells Python to treat ' (apostrophe) as text, not as a special character prefacing a string. Another way to do the same thing is to enter: "I'm well." Here you mix double and single quotes to make clear which is an apostrophe.

**16\. Try it by entering:**
```Python
"I'm well."
```

In [39]:
"I'm well"

"I'm well"

You will likely find uses for both methods of quoting and escaping strings.

* String concatenation

It is possible to concatenate two strings. You simply use the + operator--the string concatenate operator.

**17\.Enter:**
```Python
'My name is ' + 'Horacio.'
```

In [41]:
intro = "My name is"
name = "Horacio."
intro + ' ' + name

'My name is Horacio.'

This seems like a good time to teach about the print() method. print() is a core Python method that prints text to the screen.

**18\. Enter:**
```Python
print('My name is ' + 'Horacio')
```

In [42]:
print(intro + ' ' + name)

My name is Horacio.

Notice that using the print function removes the quotes printed to the screen. Sure, you are right...not a big deal. Let's print something more complicated (and introduce integer-to-string conversions--and vice-versa).

**19\. First, create a variable 'age' and assign it a value of 40.**

In [43]:
age = 29

**20\. Now enter:**

```Python
print(age)
```

In [44]:
print(age)

29

In [45]:
type(age)

int

That works--you can print numbers, too.

**21\. So...enter:**
```Python
print('My name is ' + 'Horacio and I am ' + age + '.')
```

In [54]:
print('My name is ' + 'Horacio and I am ' + age + '.')

TypeError: can only concatenate str (not "int") to str

Uh oh! What does the error say? It says: 'TypeError: must be str, not int' That is, you cannot concatenate an integer to a string. You need to convert the integer to a string in order to concatenate it with a string and print it.

**22\. So...enter:**
```Python
print('My name is ' + 'Horacio and I am ' + str(age) + '.')
```

In [53]:
print('My name is ' + 'Horacio and I am ' + str(age) + '.')

My name is Horacio and I am 29.

In [58]:
print(f'My name is Horacio and I am {age} .')

My name is Horacio and I am 29 .

Much better. str() is a core Python method that converts a number to a string.

**23\. Now create a variable named age2 and assign it the _string_ value of '45'.**

```Python
age2 = '45'
```

In [59]:
age2 = '45'

**24\. Write a print statment that outputs: 'In 5 years from now I will be 50 years old.' by entering:**

```Python
print("In 5 years from now I will be " + str(int(age2) + 5) + " years old.")
```

In [63]:
print("In 5 years from now I will be " + str(int(age2) + 5) + " years old.")
print(f"In 5 years from now I will be {int(age2) + 5} years old.")

In 5 years from now I will be 50 years old.
In 5 years from now I will be 50 years old.

Enter below an explanation of what this print stament does.

(This notebook uses Python 3.6 and the print method requires parenthesis. For a beginning Python programmer, the print statment is probably the most noticable difference between Python 3 and Python 2. Python 2 does not use parenthesis. Instead of _print("Hello")_ you would write _print "Hello"_ in Python 2.)

**Strings are about to get more interesting...**

You can index a string. That is, you can access the individual elements (letters) of a string by index position.


**25\. Assign the string** ```'Satellite'``` **to the variable** ```name```.

```Python
name = 'Satellite'
```

In [64]:
name = 'Satellite'

The elements of the string are accessed by index number inside square braces, like ```name[0]```. Most Python indices are 0-based. 0 is the first counting number and so the the 0th letter is the S, the 1st letter is the a, etc..

**26\. What is the 3rd letter?**

In [65]:
name[2]

't'

In [68]:
print(name[1])
print(name[-1])
print(name[-2])

a
e
t

You can also access the elements of a string in reverse. The first index in reverse is -1.

**27\. Enter:**
```Python
name[-1]
```

In [71]:
name[-1]

'e'

In [72]:
name[3:]

'ellite'

_Slicing_ is accessing a string by a range of indices. You access the first 3 letters of the variable name like this: ```name[0:3]```. The first number is the beginning index value. The second number is the ending index value. You can read this as: access the 0th element up-to-but-not-including the 3rd element. In other words, this will return the 0th, 1st and 2nd elements of the string. Your first index value need not be 0--it can be any valid index value.

**28\. Use positive indices to return the word 'lite'.**

In [73]:
name[5:]

'lite'

You can also return all string elements from the 3rd to the end of the string with: ```name[3:]```. If you leave the value before the **:** blank, the beginning value is equivalent to the 0th element. If you leave the value after the **:** blank, the end value is equivalent to the the last element.

**29\. Can you return the word** ```'lite'``` **using negative indices a blank index value?**

**30\. Can you return the word** ```'Sat'``` **using positive, and blank, indices?**

In [75]:
name[:3]

'Sat'

**31\. How about the word** 'sat' **using positive, and blank, indices?** (Use the ```.lower()``` method at the end of the closing square brace. There is also an ```.upper()```.)

In [77]:
name.lower()

'satellite'

In [79]:
print(dir(name))
print(name.capitalize())
print(name)

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
Satellite

What would happen if you tried to access the 10th element of the variable name? You would get an 'IndexError: string index out of range'. There is no 10th indexed value! You need to be careful about using correct index values.

**32\. Try it.**
```Python
name[10]
```

In [80]:
name[10]

IndexError: string index out of range

* Time for another method...a string one

The len() method will return the length of a string.

**33\. Try:**
```Python
len(name).
```

In [82]:
len(name)

9

In fact, there are lots of methods that work on strings. If you want a little self study, take a look at the official [Python documentation](https://docs.python.org/3/library/stdtypes.html?highlight=lower#text-sequence-type-str). There is also the [Python tutorial](https://docs.python.org/3/tutorial/index.html) from which most of this content is swiped.

That's it for for _Learning Python 1_. Next time we will cover
* lists,
* dictionaries, and
* arrays

as well as

* conditional statements, and
* flow control.

See you then!

# The end!

This is an inline equation $e^{i\pi} + 1 = 0$. The next one is a stand-alone equation.

$$NDVI = \frac{\rho_{nir} - \rho_{red}}{\rho_{nir} + \rho_{red}}$$